/*
!/.gitignore
!/README.md
!/LICENSE

!/web
/web/*

!/web/data
/web/data/*
!/web/data/users
/web/data/users/*
!/web/data/users/Admin

!/web/server
/web/server/*
!/web/server/package.json
!/web/server/ndrequire.js
!/web/server/server.js
!/web/server/lib

!/web/static

!/web/views

