<div class="container" style="padding-bottom: 30px;">
  <hr>
  <div>Copyright &copy; <span class="d-copyright-year">2015-2025</span>, David Qiu. All rights reserved.</div>
  <div><a href="https://beian.miit.gov.cn">粤ICP备2025397988号-2</a></div>
</div>
